﻿<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/lib/bootstrap/css/bootstrap.css" rel="stylesheet"/>
    <link rel="stylesheet" href="~/Content/site.css" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li> <a asp-controller="Home" asp-action="Index" class="navbar-brand">Shanaz Painting Gallery</a></li>
                    <li><a asp-controller="Feedback" asp-action="CreateFeedback">Feedback</a></li>
                    <li><a asp-controller="Admin" asp-action="AddPaint">Admin</a></li>
                    <partial name="_LoginPartial" />
                </ul> 
            </div>
        </div>
    </nav>
    <div class="container body-content">
        <div class="row">
            @RenderBody()
        </div>    
    </div>
    @RenderSection("Scripts", required:false)
</body>
</html>
