﻿ @model  Feedback

    <form asp-action="CreateFeedback" method="post" class="form-horizontal" role="form" style="margin-top:1em">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Name" class="col-md-2 control-label"></label>
            <div class="col-md-5">
                <input asp-for="Name" class="form-control" name="Name" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="Email" class="col-md-2 control-label"></label>
            <div class="col-md-5">
                <input asp-for="Email" class="form-control" name="Email" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="Message" class="col-md-2 control-label"></label>
            <div class="col-md-5">
                <textarea asp-for="Message" class="form-control" name="Message"></textarea>
                <span asp-validation-for="Message" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="ContactMe" class="col-md-2 control-label"></label>
            <div class="col-md-1">
                <input type="checkbox" asp-for="ContactMe" class="form-control" name="Contact Me" />
                <span asp-validation-for="ContactMe" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-5">
                <input type="submit" class="btn btn-primary" value="Send feedback"/>
            </div>
        </div>
    </form>
