﻿@model Paint

<h2>@Model.Name</h2>

<div class="thumbnail">
    <img alt="@Model.Name" src="@Url.Content(@Model.ImageUrl)"  />
    <div class="caption-full">
        <h3>
            <a href="#">@Model.Name</a>
        </h3>
        <h4>Created Date: @Model.CreatedDate.ToShortDateString()</h4>
        <p>@Model.Description</p>
         
    </div>
</div>