﻿@model HomwViewModel


<h1>@Model.Title </h1>

@foreach (var paint in Model.Paints)
{
    <div class="col-sm-4 col-lg-4 col-md-4 row-eq-height">
        <div class="thumbnail">
            <img  src="@Url.Content(paint.ImageUrl)" style="height:300px"
                 alt="Image" width="600">
            <div class="caption">
                <h3 class="pull-right">@paint.Price.ToString("c")</h3>

                <h3>
                    <a asp-controller="Home" asp-action="Details" asp-route-id="@paint.PaintId" style="font-size:medium">
                        @paint.Name
                    </a>

                </h3>

            </div>

        </div>
    </div>
}

