﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-image: url('../Images/pattern2.jpg');
    /*background-color:yellowgreen;*/
    background-repeat:no-repeat;
    background-size:100% 100%;
}

.body-content {
    padding-left: 15px;
    padding-right:15px;
}


